

body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-list {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}

details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20 px 0 12px 0;
}

.login {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

input:focus,
input:valid {
    border-color: #9b59b6 ;
}

.details .login .info {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

form .description {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;    
}

textarea {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    width: 50%;
    resize: none;
}

button {
    background-color: #007AF3;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    margin-top: 0.5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
    margin-bottom: 0.5em;
    width: 20%;
    margin-left: 4.5em;
}

select {
    width: 20%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.bottom {
    flex-direction: row;
    display: flex;
}